<div class="container-small-card">
  <div class="container-small-card-content">
    <div class="small-card-photo">
      <img
        src="https://p2.trrsf.com/image/fget/cf/1200/630/middle/images.terra.com/2023/09/26/835925142-the-office-divulgacao.jpg"
      />
    </div>
    <div class="small-card-title">
      <h1>
        <a href="#">The Office ultrapassa a vergonha alheia (é muito bom!)</a>
      </h1>
    </div>
  </div>
  <div class="container-small-card-separetor">
    <hr />
  </div>
</div>
